<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page about Louis Blakeman</title>
    <!-- This title isn't shown, but it would be read by a screen reader and used as a Favorites title -->
</head>
<a>

    <h1>Louis Blakeman</h1>

    <h2>Early Life</h2>

    <p>Louis Blakeman was born on November 8, 2001 at North Shore Hospital in Manhasset, NY.
        He was raised by his parents (Robert Blakeman and Rosanne Blakeman) in Port Washington, NY.
        He attended John Philip Sousa Elementary School, Carrie Palmer Weber Middle School, and
        <strong>Paul D. Schreiber</strong> High School.</p>

    <p>As a child, Louis Blakeman's favorite sports teams were (1 = most favorite, 4 = least of his favorites):</p>
    <ol>
        <li>New York Jets</li>
        <li>New York Islanders</li>
        <li>New York Knicks</li>
        <li>New York Yankees</li>
    </ol>

    <h2>Adult Life</h2>
    <!-- Decided to use level 2 headings for "Early Life" and "Adulthood" to break up the story of Louis Blakeman's life
    and create subheadings beneath the "Louis Blakeman" heading -->

    <p>After graduating from Paul D. Schreiber High School in 2019, Louis Blakeman continued his education
        at the <strong>University of Maryland</strong> in College Park, MD. There he studied <em>Accounting</em> and
        <em>Information Systems</em> in the Robert H. Smith School of Business.</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith School of Business Logo">

    <p>While at the University of Maryland, Louis Blakeman was involved with:</p>
    <ul>
        <li>Catholic Student Center at the University of Maryland</li>
        <li>Division 1 Women's Basketball Team</li>
        <!--More than 2 items can be included in this list. -->
    </ul>

    <p>The following table displays some of the best courses Louis Blakeman took at the University of Maryland:</p>
    <table>
        <tr>
            <th>BMGT430</th>
            <th>Spring 2022</th>
        </tr>
        <tr>
            <th>BMGT302</th>
            <th>Fall 2021</th>
        </tr>
        <tr>
            <th>BMGT402</th>
            <th>Fall 2022</th>
        </tr>
    </table>

    <p>Here is a link to a cool thing that Louis Blakeman did in his BMGT407 course:

    <a href="/hello">Hello World</a> </p>

    <p>Here are links to 2 of Louis Blakeman's favorite websites in college:</p>

    <p> He loved checking the ESPN website to see scores, stats, records, and standings of his favorite teams:
    <a href="https://www.espn.com/" > ESPN</a> </p>

    <p> He loved signing into the website for Catholic Student Center at the University of Maryland to sign up for retreats:
    <a href="https://catholicterps.org/" target="_blank"> Catholic Terps</a> </p>

</body>
</html>